<div class="container">
    <div class="row">
        <div class="col">
            <div class="list-group list-group-flush">
                <h4 class="list-group-item list-title">Languages</h4>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <button type="button" class="list-group-item list-group-item-action active"
                        (click)="onSubjectClick($event.target)">All</button>
                    <button *ngFor="let subject of subjects" type="button"
                        class="list-group-item list-group-item-action" (click)="onSubjectClick($event.target)">{{subject}}</button>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card-columns">
                <div *ngFor="let exam of visibleExams" class="card">
                    <a routerLink="/catalogue/{{exam.urlTitle}}" (click)="onClick(exam)">
                        <app-exam-card [exam]="exam"></app-exam-card>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>