<p *ngIf="user && currentUser$ | async">{{user.firstName}} {{user.lastName}}</p>
<app-question [question]="currentQuestion"></app-question>
<div class="answers">
    <div *ngFor="let answer of currentAnswers" [ngStyle] = "{'backgroundColor': chosenAnswer.id === answer.id ? 'red' : 'white'}">
        <app-answer 
        (onAnswerChosen)="getChosenAnswerData($event)" 
        [answer]="answer">
    </app-answer>
    </div>
    
</div>
<app-timer></app-timer>
<button *ngIf="standardError>0.2" type="button" (click)="onNextClick()">Next</button>
<button *ngIf="standardError<=0.2" type="button" (click)="onFinishClick()">Finish</button>