<section class="login-section">
  <form [formGroup]='loginForm' (ngSubmit)="loginForm.valid && login()" autocomplete="off">
    <h2 class="text-center text-primary">Log in to CATlin</h2>
    <hr>
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email address</label>
      <input [class.is-invalid]='loginForm.get("email").errors && loginForm.get("email").touched' type="email"
        class="form-control" formControlName='email'>
      <div *ngIf="loginForm.get('email').hasError('required')" class="invalid-feedback">This field cannot be empty.
      </div>
      <div *ngIf="loginForm.get('email').hasError('email')" class="invalid-feedback">You must fill this field with a
        valid email address.</div>
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input [class.is-invalid]='loginForm.get("password").errors && loginForm.get("password").touched' type="password"
        class="form-control" formControlName='password'>
      <div *ngIf="loginForm.get('password').hasError('required')" class="invalid-feedback">This field cannot be empty.
      </div>
    </div>
    <a class="navbar-brand" href="#">Forgot your password?</a>
    <div class="mb-3 mt-5">
      <button type="submit" class="btn btn-primary">Log in</button>
    </div>
    <div class="noaccount-container">
      <span>Don't have an account? </span><a class="navbar-brand" routerLink="/register">Sign up now!</a>
    </div>
  </form>
</section>