<section>
  <div class="container" *ngIf="currentUser$ | async">
    <div class="examinee-container" *ngIf="(currentUser$ | async).roleId===1">
      <div class="profile-data-container" *ngIf="user">
        <img src="../../assets/images/design/Eyes-pana.png" alt="Profile picture" style="width: 250px; height: 250px">
        <h3>{{user.email}}</h3>
      </div>

      <h1>My attempts</h1>
      <div class="withsessions-container" *ngIf="individualSessionsData.length>0">
        <p>Click on a row to get details of your performance.</p>
        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Session ID</th>
                <th scope="col">Exam</th>
                <th scope="col">Taken on</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of individualSessionsData" data-toggle="modal" data-target=".bd-example-modal-lg"
                (click)="onExamineeRowClick(data.individualSession.sessionId)">
                <td class="counter"></td>
                <td *ngIf="data.individualSession">{{data.individualSession.sessionId}}</td>
                <td *ngIf="data.exam">{{data.exam.title}}</td>
                <td *ngIf="data.individualSession">{{data.individualSession.startTime}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg modal-flex">
            <div class="modal-content">
              <div class="row first-row">
                <div class="column first-column">
                  <p>Your mark: </p>
                  <div class="examinee-mark">{{mark | number: '1.2-2'}}</div>
                </div>
                <div class="column second-column">
                  <div *ngIf="doughnutChartReady" class="chart-wrapper">
                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType" [colors]="doughnutChartColors">
                    </canvas>
                  </div>
                </div>
              </div>
              <div class="row second-row">
                <div class="column third-column">
                  <div *ngIf="lineChartReady" class="chart-wrapper">
                    <canvas class="lineChart" baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                      [chartType]="lineChartType" [plugins]="lineChartPlugins">
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="withoutsessions-container" *ngIf="individualSessionsData.length===0">
        <h1>You currently do not have any attempts.</h1>
      </div>

      <div class="log-out">
        <button type="button" class="btn btn-primary" (click)="logout()" routerLink="/">Log out</button>
      </div>

    </div>

    <div class="supervisor-container" *ngIf="(currentUser$ | async).roleId===2">
      <div class="profile-data-container" *ngIf="user">
        <img src="../../assets/images/design/Eyes-pana.png" alt="Profile picture" style="width: 250px; height: 250px">
        <h3>{{user.email}}</h3>
      </div>

      <h1>My sessions</h1>
      <div class="withsessions-container" *ngIf="sessionsData.sessions.length>0">
        <p>Click on a row to get a report on the performance of your examinees.</p>

        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Exam</th>
                <th scope="col">Started on</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let session of sessionsData.sessions; let i=index" data-toggle="modal"
                data-target=".bd-supervisor-modal-lg" (click)="onSupervisorRowClick(sessionsData.ids[i])">
                <td class="counter"></td>
                <td *ngIf="sessionsData.ids">{{sessionsData.ids[i]}}</td>
                <td *ngIf="sessionsData.exams[i]">{{sessionsData.exams[i].title}}</td>
                <td *ngIf="session">{{session.startTime}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="modal fade bd-supervisor-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-header">
              <h5 class="modal-title" *ngIf="indivSessions[0]">Session ID: {{indivSessions[0].sessionId}}</h5>
            </div>
            <div class="modal-content">
              <div>
                <div class="table-container">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mark</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="indivSessions">
                      <tr *ngFor="let session of indivSessions; let i=index" data-toggle="modal"
                        data-target=".bd-supervisor-modal-lg">
                        <td *ngIf="examinees[i]">{{examinees[i].firstName}}</td>
                        <td *ngIf="examinees[i]">{{examinees[i].lastName}}</td>
                        <td *ngIf="examinees[i]">{{examinees[i].email}}</td>
                        <td *ngIf="session">{{session.ability}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="withsessions-container" *ngIf="sessionsData.sessions.length===0">
        <h1>You currently do not have any sessions.</h1>
      </div>

      <div class="log-out">
        <button type="button" class="btn btn-primary" (click)="logout()" routerLink="/">Log out</button>
      </div>
    </div>

    <div class="administrator-container" *ngIf="(currentUser$ | async).roleId===10002">
      <div class="profile-data-container" *ngIf="user">
        <img src="../../assets/images/design/Eyes-pana.png" alt="Profile picture" style="width: 250px; height: 250px">
        <h3>{{user.email}}</h3>
      </div>
      <div class="log-out">
        <button type="button" class="btn btn-primary" (click)="logout()" routerLink="/">Log out</button>
      </div>
    </div>
  </div>
</section>