<h1>My attempts</h1>
<p>Click on row to get details</p>
<table class="table table-hover" *ngIf="individualSessionsData.length>0">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Session ID</th>
        <th scope="col">Exam</th>
        <th scope="col">Taken on</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of individualSessionsData" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="onRowClick(data.individualSession.sessionId)">
        <td class="counter"></td>
        <td *ngIf="data.individualSession">{{data.individualSession.sessionId}}</td>
        <td *ngIf="data.exam">{{data.exam.title}}</td>
        <td *ngIf="data.individualSession">{{data.individualSession.startTime}}</td>
      </tr>
    </tbody>
  </table>



<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <p>your mark: {{mark}}</p>

      <div *ngIf="lineChartReady" class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
    
    <div *ngIf="doughnutChartReady" class="chart-wrapper">
        <canvas baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType">
        </canvas>
    </div>

    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" (click)="logout()" routerLink="/">Log out</button>
