@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

body{
    margin: 0;
    padding: 0;
    background-color: #14213D !important;
    min-height: 100%;
    position: relative;       
    overflow: overlay;
}

button {
    font-weight: 500 !important;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #1a2b50;
}
