<form #loginForm="ngForm" autocomplete="off">
    <div class="mb-3">
        <label for="firstNameInput" class="form-label">First name</label>
        <input 
          type="text" 
          class="form-control" 
          id="firstNameInput" >
      </div>
      <div class="mb-3">
        <label for="lastNameInput" class="form-label">Last name</label>
        <input 
          type="text" 
          class="form-control" 
          id="lastNameInput" >
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input 
        type="email" 
        class="form-control" 
        id="exampleInputEmail1" 
        aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input 
      type="password" 
      class="form-control" 
      id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <button type="Login" class="btn btn-primary">Sign up</button>
    </div>
    <a class="navbar-brand" href="#">Already have an account? Log in!</a>
    
  </form>
  